.DS_Store
.ipynb_checkpoints/
A. Barzagli_plot.png
Alex Sandro_plot.png
Bonucci_501x752.png
Cancelo_501x752.png
Chiellini_501x752.png
Costa_501x752.png
D. Rugani_plot.png
Dybala_501x752.png
G. Chiellini_plot.png
Cancelo_plot.png
L. Bonucci_plot.png
L. Spinazzola_plot.png
M. De Sciglio_plot.png
MANDZUKIC.png
Matuidi_501x752.png
P. Beruatto_plot.png
PJANIC_501x752.png
Perin_501x752.png
RONALDO_501x752.png
RUGANI_501x752.png
SANDRO_501x752.png
best_teams.png
